form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.buttonsGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.lineGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.top-btn {
    margin-bottom: 30px;
}

span[matPrefix][disabled] {
    color: #00000061;
}

table {
    width: 100%;
}

.alert {
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    padding: 1rem 1rem;
}