form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.buttonsGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.reverse {
    text-align: left;
}